.container {
  position: relative;
  flex-direction: column;
  @include section;
}

.openingTag {
  display: flex;
  align-items: center;
  color: $primary-color;
}

.arrow {
  @include arrow;
  &.animate {
    @include rotate-arrow;
  }
}

.text {
  @include inner-section;
  &.animate {
    @include show-hide;
  }
  .vl {
    @include vl;
  }
}

.invisible {
  height: 1rem;
  opacity: 0;
}

.closingTag {
  @include closing-tag;
  &.animate {
    @include slide;
  }
}
