.container {
  position: relative;
  width: 100%;
}
.inner {
  display: flex;
  flex-direction: row;
  width: 55%;
  margin: auto;
  height: 100vh;
}
.bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: xx-large;
  h2 {
    margin: 10px 0 10px 0;
    font-size: 110%;
  }
  p {
    font-size: 75%;
  }
}
.img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  scale: 1.3;
}
.email {
  position: absolute;
  bottom: 46px;
  left: 0;
  font-size: small;
  text-decoration: none;
}
.arrow {
  position: absolute;
  bottom: 45px;
  left: 0;
  right: 0;
  margin: auto;
}
.socialMedia {
  position: fixed;
  right: 33px;
  bottom: 31px;
}

.verticalLine {
  position: absolute;
  right: 32px;
  bottom: 45px;
}

.socials {
  position: absolute;
  @include hover-effect;
  &.github {
    right: 19px;
    bottom: 90px;
    background-color: $background-color;
    border-radius: 20px;
  }
  &.linkedIn {
    right: 19px;
    bottom: 14px;
  }
}
@media (max-width: 1024px) {
  .inner {
    width: 50%;
  }
  .img {
    scale: 0.7;
  }
  .bio {
    font-size: 80%;
  }
}
