.container {
  position: relative;
  flex-direction: column;
  align-items: baseline;
  background-color: $surface-color;
  border-radius: 20px;
  text-align: start;
  box-shadow: $box-shadow;
  @include section;
  width: 60%;
  @media (max-width: 425px) {
    width: 80%;
  }
}

.openingTag {
  display: flex;
  align-items: center;
  color: $primary-color;
}

.arrow {
  @include arrow;
  &.animate {
    @include rotate-arrow;
  }
}

.text {
  @include inner-section;
  &.animate {
    @include show-hide;
  }
  .vl {
    @include vl;
  }
  p {
    font-size: 1.2rem;
  }
}

.invisible {
  height: 1rem;
  opacity: 0;
}

.closingTag {
  @include closing-tag;

  &.animate {
    @include slide;
  }
}
