.container {
  display: flex;
  align-items: flex-start;
  gap: 4%;
  @media (max-width: 425px) {
    flex-direction: column-reverse;
  }
}
.projectImage {
  margin-left: 5%;
  margin-right: 5%;
}
.text {
  padding: 10px;
  color: $accent-color;
  font-size: 1.85rem;
  p {
    color: $text-color;
    font-size: 1.2rem;
    font-weight: bold;
    line-break: auto;
    margin-top: 8px;
  }
}
.techs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  padding: 10px;
  font-size: 0.75rem;
}

.links {
  display: flex;
  gap: 8px;
  padding: 10px;

  .link {
    outline: none;
    background-color: $surface-color;
    color: $text-color;
    padding: 4px 8px;
    text-align: center;
    border-radius: 8px;
    font-style: italic;
    text-decoration: none;
    @include hover-effect-tech;
  }
}
