.container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 60%;
  background-color: $surface-color;
  border-radius: 20px;
  text-align: start;
  padding: 15px;
  box-shadow: $box-shadow;
}
.openingTag {
  display: flex;
  flex-direction: row;
  align-items: center;

  color: $primary-color;
}
.arrow {
  color: $grey-vscode;
  scale: 0.4;
  rotate: 270deg;
  &.animate {
    animation: rotateArrow 4s;
    animation-fill-mode: forwards;
  }
}
.text {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: fit-content;
  opacity: 0;
  > *:nth-child(2) {
    padding: 20px 20px;
  }
  &.animate {
    animation: showHide 2s 2s;
    animation-fill-mode: forwards;
  }

  .vl {
    border-right: 2px solid #4f5055;
    height: auto;
    padding-left: 20px;
  }
}
.closingTag {
  position: relative;
  left: 25px;

  color: $primary-color;
  &.animate {
    animation: slide 2s ease-in-out;
    animation-fill-mode: forwards;
  }
}

@keyframes slide {
  from {
    transform: translateY(-100px);
  }

  to {
    transform: translateY(0px);
  }
}
@keyframes showHide {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes rotateArrow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(90deg);
  }
}

@media (max-width: 768px) {
  .container {
    width: 70%;
  }
  .text {
    font-size: 9px;
  }
  .openingTag {
    font-size: 12px;
  }
  .closingTag {
    font-size: 12px;
  }
}
