.wrapperContainer {
  position: relative;
  @include hover-effect;

  p {
    position: absolute;
    margin: 0;
    left: 40px;
    padding-left: 3px;
    padding-right: 3px;
    bottom: 0px;
    background-color: $background-color;
    font-size: 0.8rem;
    @media (max-width: 425px) {
      font-size: 1.4rem;
      left: 20px;
    }
  }
}
