.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}
@media (max-width: 425px) {
  .main {
    width: 150%;
  }
}
@media (max-width: 320px) {
  .main {
    width: 175%;
  }
}
