.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  background-color: $background-color;
  text-align: center;
  width: 100%;
}
.email {
  position: absolute;
  left: 0px;
  font-size: 0.8rem;
  top: 50%;
}
.text {
  font-style: italic;
  font-size: 0.8rem;
  max-width: 40%;
  a {
    @include hover-effect-tech;
    color: $text-color;
  }
}
@media (max-width: 768px) {
  .email {
    visibility: hidden;
  }
}
