.container {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: auto;
  min-height: 10vh;
  background-color: $background-color;
  text-align: start;
}
.email {
  position: relative;
  left: -740px;
  font-size: small;
  top: 50px;
}
.text {
  margin: auto;
  font-style: italic;
  font-size: 13px;
  a {
    @include hover-effect-tech;
    color: $text-color;
  }
}
@media (max-width: 768px) {
  .text {
    font-size: 7px;
  }
  .email {
    scale: 0.5;
    left: -270px;
    top: 23px;
  }
}
