.container {
  background-color: $surface-color;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  box-sizing: border-box;
}
.inner {
  position: relative;
  flex-direction: column;
  @include section;
}
.openingTag {
  display: flex;
  align-items: center;
  color: $primary-color;
}

.arrow {
  @include arrow;
  &.animate {
    @include rotate-arrow;
  }
}
.iconContainer {
  @include inner-section;
  &.animate {
    @include show-hide;
  }

  .vl {
    @include vl;
  }
}

.invisible {
  height: 1rem;
  opacity: 0;
}

.closingTag {
  @include closing-tag;
  &.animate {
    @include slide;
  }
}

.techIcons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(70px, 100%), 1fr));
  gap: 50px;
  width: 100%;
  box-sizing: border-box;
}
