.container {
  background-color: $surface-color;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.inner {
  position: relative;
  flex-direction: column;
  @include section;
}
.openingTag {
  display: flex;
  align-items: center;
  color: $primary-color;
}

.arrow {
  @include arrow;
  &.animate {
    @include rotate-arrow;
  }
}
.iconContainer {
  @include inner-section;
  &.animate {
    @include show-hide;
  }

  .vl {
    @include vl;
  }
}

.invisible {
  height: 1rem;
  opacity: 0;
}

.closingTag {
  @include closing-tag;
  &.animate {
    @include slide;
  }
}

.techIcons {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 50px;
  padding: 5% 0 5% 10%;
  @media (max-width: 768px) {
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
    scale: 0.9;
  }
  @media (max-width: 425px) {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    scale: 0.8;
  }
  @media (max-width: 375px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
